{:kafka {:zk {:host #profile {:development "127.0.0.1"
                              :production  "master.mesos"}
              :port 2181}}

 :cassandra {:host #profile {:development ["127.0.0.1"]
                             :production  ["node-0.cassandra.mesos"
                                           "node-1.cassandra.mesos"
                                           "node-2.cassandra.mesos"] }
             :keyspace "witan_workspace"
             :joplin "joplin.edn"
             :replication-factor #profile {:development 1
                                           :production 3}}
 :webserver {:port 20015}
 :log {:level #profile {:development :trace
                        :production :info}}
 :peer {:host #profile {:development "127.0.0.1"
                        :production "witan-workspace-peer.marathon.mesos"}
        :port 10015}}
